* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

p, label, td, th {
  font-size: 1rem;
}

html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

button, input, i {
  outline: none !important;
}

button:hover {
  cursor: pointer;
}

#app #content {
  margin: auto;
  max-width: 1300px;
  padding: 0 10px;
}

.full-width {
  width: 100%;
  background-color: #6400e4;
}

#header {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 10px;
  height: 70px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header h1 {
  color: white;
  margin: 0;
  padding: 0;
}
#header form {
  display: flex;
  width: 33%;
}
#header form .searchBar {
  width: 100%;
  background-color: white;
  border: none;
  font-size: 1rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  line-height: 2rem;
  padding-left: 10px;
}
#header form button {
  background-color: white;
  padding: 1px 10px;
  border: none;
  font-size: 1.3rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  line-height: 2rem;
  cursor: pointer;
  color: #6400e4;
}
#header form button:hover {
  color: lightgrey;
}
#header form button:active {
  color: lightgrey;
}

#header > button {
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  color: white;
}

#filterBar {
  height: 50px;
  min-width: 375px;
  max-width: 1280px;
  background-color: white;
  margin: 20px auto;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 4px 4px 8px #c4c4c4, -4px -4px 8px #ffffff;
  border-radius: 15px;
  justify-content: space-between;
}
#filterBar > div {
  max-width: 400px;
  width: 100%;
  justify-content: inherit;
  display: inherit;
}
#filterBar h3 {
  margin: 0 20px 0 0;
}
#filterBar label {
  margin: 0;
  font-variant: small-caps;
}
#filterBar div {
  padding-right: 10px;
}
#filterBar input[type=checkbox], #filterBar input[type=checkbox]:focus, #filterBar input[type=checkbox]:active {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border-radius: 0;
  border: 2px solid #6400e4;
  padding: 3px;
  width: 1.1rem;
  height: 1.1rem;
  vertical-align: sub;
  line-height: 1.1rem;
  background-clip: content-box;
}
#filterBar input[type=checkbox]:checked {
  background-color: #6400e4;
}
#filterBar .reset {
  border: none;
  background: #ededed;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  float: right;
}

.bm-menu {
  background: #6400e4;
  font-size: 1.2rem;
  padding: 2.5rem 1.5rem 0;
}

.bm-item {
  color: white;
  border: none;
  background: none;
  text-align: center;
  width: 100%;
  padding: 1.8rem 0;
}
.bm-item:hover {
  color: lightgrey;
  text-decoration: none;
}

.bm-overlay {
  background: transparent;
  margin: 0 -50rem;
  width: 200% !important;
}

.workplace-list {
  margin: auto;
  padding-bottom: 20px;
  overflow: hidden;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}
table tr:first-of-type th:first-of-type {
  border-top-left-radius: 20px;
}
table tr:first-of-type th:last-of-type {
  border-top-right-radius: 20px;
}
table th {
  background-color: #d3d3d3;
}
table th:nth-of-type(1) {
  width: 15%;
}
table th:nth-of-type(2) {
  width: 10%;
}
table td:last-of-type {
  text-align: right;
}
table th, table td {
  height: 50px;
  padding: 0 15px;
  text-align: left;
  border-bottom: 1px solid #d3d3d3;
  box-sizing: border-box;
}
table tr:hover {
  background-color: #fafafa;
}

.workplace-reserved {
  box-shadow: inset 7px 0 0 #e46400, inset -7px 0 0 #e46400;
}

.workplace-unreserved {
  box-shadow: inset 7px 0 0 #00e464, inset -7px 0 0 #00e464;
}

#workplace-selected {
  background-color: #ededed;
}

.button-container {
  position: fixed;
  left: calc(90vw);
  top: 85%;
}

.plus-button {
  width: 70px;
  height: 70px;
  font-size: 3rem;
  border-radius: 50%;
  border: none;
  margin: 4px;
  display: inline-block;
  line-height: 100%;
  box-shadow: 4px 4px 8px #c4c4c4, -4px -4px 8px #ffffff;
  color: #6400e4;
}

.plus-button::before {
  margin: auto;
  font-size: 5.5rem;
  content: "+";
}

.plus-button:disabled {
  box-shadow: inset 4px 4px 8px #c4c4c4, inset -4px -4px 8px #ffffff;
  background-color: #ededed;
  color: rgba(0, 0, 0, 0.5);
}
.plus-button:disabled:hover {
  cursor: default;
}

.add-button {
  outline: none;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background: #6400e4;
  transition: background-color 0.2s ease;
}
.add-button:hover {
  background-color: #7d18ff;
}
.add-button:disabled {
  background-color: lightgrey;
  cursor: default;
}

.calendar-view {
  text-align: center;
}

.DayPicker-wrapper {
  outline: none;
}

.DayPicker-Months {
  min-height: 330px;
}

.DayPicker:not(.DayPicker--interactionDisabled) .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
  background-color: #f0e4ff !important;
}

.Range .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #d3b1ff !important;
  color: #6400e4 !important;
}

.Range .DayPicker-Day {
  border-radius: 0 !important;
}

.DayPicker-TodayButton {
  outline: none !important;
  color: #6400e4 !important;
  padding: 5px 10px !important;
  border: 1px solid #6400e4 !important;
  border-radius: 5px !important;
  transition: background-color 0.2s ease;
}

.DayPicker-TodayButton:hover {
  background-color: #f0e4ff !important;
}

.Range .DayPicker-Day--start:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background-color: #6400e4 !important;
}

.Range .DayPicker-Day--end:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background-color: #6400e4 !important;
}

.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5rem;
}

.modal {
  background-color: white;
  border-radius: 20px;
  max-width: 500px;
  min-height: 350px;
  height: 0;
  margin: auto;
  padding: 3rem;
  display: flex;
  text-align: center;
}
.modal h3 {
  margin-bottom: 2rem;
  text-align: left;
}
.modal form {
  width: 100%;
}
.modal form .flex {
  display: flex;
  justify-content: space-between;
}
.modal form .flex.right {
  margin-top: 35px;
  justify-content: flex-end;
}
.modal textarea {
  resize: none;
  display: block;
  width: 100%;
  height: 5rem;
  padding: 0 5px;
  margin-top: 1rem;
  max-height: 20rem;
  border-radius: 5px;
  border: 1px solid lightgrey;
}
.modal input[type=text] {
  border: 1px solid lightgrey;
  border-radius: 5px;
  text-align: center;
  width: 150px;
}
.modal button:first-of-type {
  background-color: white;
  padding: 5px 20px;
  border: none;
}
.modal button:last-of-type {
  color: white;
  background-color: #6400e4;
  padding: 5px 10px;
  border: 1px solid #6400e4;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}
.modal button:last-of-type:hover {
  background-color: #7d18ff;
}

/*animation: spin infinite 10s linear */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 650px) {
  /*mobile view*/
}

/*# sourceMappingURL=style.css.map */
